<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9542d5e15.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class = "headerpagos">
        <nav>
        <a href="/"><img src="images\logo.png" ></a>
        <div class="nav-links" id="navLinks">
            <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="container" >
        <table class="table">
            <thead>
                <tr>
                    <th> Numero de tarjeta</th>
                    <th>Nombre portador</th>
                    <th>Mes de expiración</th>
                    <th>Año de expiración</th>
                    <th>CCV</th>
                    <th>Saldo</th>
                    <th>Credito</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0 ; i < data.length; i++) { %>
                        <tr>
                            <td><%= data[i].card_num %></td>
                            <td><%= data[i].holdername %></td>
                            <td><%= data[i].expmonth %></td>
                            <td><%= data[i].expyear %></td>
                            <td><%= data[i].ccv %></td>
                            <td><%= data[i].saldo %></td>
                            <td><%= data[i].credito %></td>
                        </tr>
                    <% } %> 
               <% } %>
            </tbody>
        </table>
        <h1>Credito 1= Si; 0= No</h1>
    </div>

</section>

<!--------JavaScript para menú---------->
<script>
    var navLinks = document.getElementById("navLinks")

    function showMenu(){
        navLinks.style.right ="0";
    }
    function hideMenu(){
        navLinks.style.right ="-200px";
    }
</script>
</body>
</html>